* {
  font-size: 2.243vw;
  font-family: 'Montserrat';
}
body {
  height: max-content;
}
figure, h1, h2, h3, h4, h5, h6,
p, div {
  margin: 0;
}

.content-width {
  width: 40.373em;
  margin: 0 auto;
}
